<script id="fluid-configs" th:inline="javascript">
    var Fluid = window.Fluid || {};
    Fluid.ctx = Object.assign({}, Fluid.ctx)
    var CONFIG = {
        hostname: "[(${site.url})]",
        root: "/",
        version: "[(${theme.spec.version})]",
        typing: {
            enable: [[${theme.config.fun_features.typing.enable}]],
            typeSpeed: [[${#conversions.convert(theme.config.fun_features.typing.typeSpeed, 'java.lang.Integer')}]] ,
            cursorChar: "[(${theme.config.fun_features.typing.cursorChar})]",
            loop: [[${theme.config.fun_features.typing.loop}]],
        },
        anchorjs: {
            enable: [[${theme.config.fun_features.anchorjs.enable}]],
            element: "[(${theme.config.fun_features.anchorjs.element})]",
            placement: "[(${theme.config.fun_features.anchorjs.placement})]",
            visible: "[(${theme.config.fun_features.anchorjs.visible})]",
            icon: "[(${theme.config.fun_features.anchorjs.icon})]",
        },
        progressbar: {
            enable: [[${theme.config.fun_features.progressbar.enable}]],
            height_px: [[${theme.config.fun_features.progressbar.height_px}]],
            color: "[(${theme.config.fun_features.progressbar.color})]",
            options: {
                showSpinner: [[${theme.config.fun_features.progressbar.showSpinner}]],
                trickleSpeed: [[${#conversions.convert(theme.config.fun_features.progressbar.trickleSpeed, 'java.lang.Integer')}]]
            }
        },
        code_language: {
            enable: true,
            default: "TEXT"
        },
        copy_btn: true,
        image_caption: {
            enable: [[${theme.config.post.image_caption}]]
        },
        image_zoom: {
            enable: [[${theme.config.post.image_zoom}]],
            img_url_replace: ["", ""]
        },
        toc: {
            enable: [[${theme.config.post.toc.enable}]],
            placement: "[(${theme.config.post.toc.placement})]",
            headingSelector: "[(${theme.config.post.toc.headingSelector})]",
            collapseDepth: [[${#conversions.convert(theme.config.post.toc.collapseDepth, 'java.lang.Integer')}]]
        },
        lazyload: {
            enable: [[${theme.config.global.lazyload.enable}]],
            loading_img: "[(${theme.config.global.lazyload.loading_img})]",
            offset_factor: [[${#conversions.convert(theme.config.global.lazyload.offset_factor, 'java.lang.Integer')}]]
        },
        web_analytics: {
            enable: true,
            follow_dnt: true,
            baidu: null,
            google: {
                measurement_id: null
            },
            umami: {
                src: null,
                data_website_id: null,
                data_domains: null
            },
            tencent: {
                sid: null,
                cid: null
            },
            woyaola: null,
            cnzz: null,
            leancloud: {
                app_id: "LyT8mpSI2Jq9CRhOtNOgBXkE-9Nh9j0Va",
                app_key: "fUOlkXhD9wcmxOTed9NdlqPH",
                server_url: "https://lyt8mpsi.lc-cn-n1-shared.com",
                path: "window.location.pathname",
                ignore_local: false
            }
        }
    };
    if (CONFIG.web_analytics.follow_dnt) {
        var dntVal = navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack;
        Fluid.ctx.dnt = dntVal && (dntVal.startsWith('1') || dntVal.startsWith('yes') || dntVal.startsWith('on'));
    }
</script>