<style type="text/css" th:inline="css" th:with="ground_glass_px = ${#conversions.convert(theme.config.navbar.ground_glass.px, 'java.lang.Integer')}">
    [# th:if="${theme.config.global.banner.width_height_ratio > 0}"]
        @media (max-width: [[${theme.config.global.banner.width_height_ratio * 100}]]vh) {
        .header-inner {
            max-height: [[${100 / theme.config.global.banner.width_height_ratio}]]vw;
        }
        #board {
            margin-top: -1rem !important;
        }
        }
        @media (max-width: [[${theme.config.global.scroll_down_arrow.banner_height_limit- 0.01}]]vh) {
        .scroll-down-bar {
            display: none;
        }
        }
    [/]

    [# th:if="${theme.config.navbar.ground_glass.enable}"]
        @media (prefers-color-scheme: dark) {
            @supports (-webkit-backdrop-filter: blur([[${ground_glass_px}]]px)) or (backdrop-filter: blur([[${ground_glass_px}]]px)) {
                :root:not([data-color-scheme]) .navbar .dropdown-collapse,
                :root:not([data-color-scheme]) .top-nav-collapse,
                :root:not([data-color-scheme]) .navbar-col-show {
                    background: rgba(var(--navbar-bg-color-rgba-dark),var(--navbar-glass-alpha));
                    -webkit-backdrop-filter: blur([[${ground_glass_px}]]px);
                    backdrop-filter: blur([[${ground_glass_px}]]px);
                }
            }
            @supports not ((-webkit-backdrop-filter: blur([[${ground_glass_px}]]px)) or (backdrop-filter: blur([[${ground_glass_px}]]px))) {
                :root:not([data-color-scheme]) .navbar .dropdown-collapse,
                :root:not([data-color-scheme]) .top-nav-collapse,
                :root:not([data-color-scheme]) .navbar-col-show {
                background: var(--navbar-bg-color-dark);
                }
            }
        }

        @supports (-webkit-backdrop-filter: blur([[${ground_glass_px}]]px)) or (backdrop-filter: blur([[${ground_glass_px}]]px)) {
            [data-color-scheme="dark"] .navbar .dropdown-collapse,
            [data-color-scheme="dark"] .top-nav-collapse,
            [data-color-scheme="dark"] .navbar-col-show {
                background: rgba(var(--navbar-bg-color-rgba-dark),var(--navbar-glass-alpha));
                -webkit-backdrop-filter: blur([[${ground_glass_px}]]px);
                backdrop-filter: blur([[${ground_glass_px}]]px);
            }
        }
        @supports not ((-webkit-backdrop-filter: blur([[${ground_glass_px}]]px)) or (backdrop-filter: blur([[${ground_glass_px}]]px))) {
            [data-color-scheme="dark"] .navbar .dropdown-collapse,
            [data-color-scheme="dark"] .top-nav-collapse,
            [data-color-scheme="dark"] .navbar-col-show {
                background: var(--navbar-bg-color-dark);
            }
        }

        @supports (-webkit-backdrop-filter: blur([[${ground_glass_px}]]px)) or (backdrop-filter: blur([[${ground_glass_px}]]px)) {
        .navbar .dropdown-collapse,
        .top-nav-collapse,
        .navbar-col-show {
            background: rgba(var(--navbar-bg-rgba-color),var(--navbar-glass-alpha));
            -webkit-backdrop-filter: blur([[${ground_glass_px}]]px);
            backdrop-filter: blur([[${ground_glass_px}]]px);
        }
        }
        @supports not ((-webkit-backdrop-filter: blur([[${ground_glass_px}]]px)) or (backdrop-filter: blur([[${ground_glass_px}]]px))) {
        .navbar .dropdown-collapse,
        .top-nav-collapse,
        .navbar-col-show {
            background: var(--navbar-bg-color);
        }
        }

    [/]

    [# th:if="${!theme.config.navbar.ground_glass.enable}"]
        @supports (-webkit-backdrop-filter: blur([[${ground_glass_px}]]px)) or (backdrop-filter: blur([[${ground_glass_px}]]px)) {
            .navbar .dropdown-collapse,
            .top-nav-collapse,
            .navbar-col-show {
                background-color: var(--navbar-bg-color);
            }
        }
        @supports not ((-webkit-backdrop-filter: blur([[${ground_glass_px}]]px)) or (backdrop-filter: blur([[${ground_glass_px}]]px))) {
            .navbar .dropdown-collapse,
            .top-nav-collapse,
            .navbar-col-show {
                background-color: var(--navbar-bg-color);
            }
        }
    [/]
</style>