<style type="text/css" th:inline="css">
    :root {
        /**font*/
        --font-size: 		/*[(${theme.config.global.font.font_size})]*/ ;
        --letter-spacing: 	/*[(${theme.config.global.font.letter_spacing})]*/ ;
        --font-family: 		/*[(${theme.config.global.font.font_family})]*/ ;
        --code-font-size: 	/*[(${theme.config.global.font.code_font_size})]*/ ;

        /**body*/
        --body-bg-color: 		/*[(${theme.config.color.body_bg_color})]*/ ;
        --body-bg-color-dark: 	/*[(${theme.config.color.body_bg_color_dark})]*/ ;

        /**text*/
        --text-color: 		/*[(${theme.config.color.text_color})]*/ ;
        --text-color-dark: 	/*[(${theme.config.color.text_color_dark})]*/ ;
        --sec-text-color: 		/*[(${theme.config.color.sec_text_color})]*/ ;
        --sec-text-color-dark: 	/*[(${theme.config.color.sec_text_color_dark})]*/ ;

        /**post*/
        --post-text-color: /*[(${theme.config.color.text_color})]*/ ;
        --post-text-color-dark: /*[(${theme.config.color.post_text_color_dark})]*/ ;
        --post-heading-color: /*[(${theme.config.color.post_heading_color})]*/ ;
        --post-heading-color-dark: /*[(${theme.config.color.post_heading_color_dark})]*/ ;
        --post-link-color: /*[(${theme.config.color.post_link_color})]*/ ;
        --post-link-color-dark: /*[(${theme.config.color.post_link_color_dark})]*/ ;
        --link-hover-color: /*[(${theme.config.color.link_hover_color})]*/ ;
        --link-hover-color-dark: /*[(${theme.config.color.link_hover_color_dark})]*/ ;
        --link-hover-bg-color: /*[(${theme.config.color.link_hover_bg_color})]*/ ;
        --link-hover-bg-color-dark: /*[(${theme.config.color.link_hover_bg_color_dark})]*/ ;
        --line-color: /*[(${theme.config.color.line_color})]*/ ;
        --line-color-dark: /*[(${theme.config.color.line_color_dark})]*/ ;
        --button-bg-color: /*[(${theme.config.color.button_bg_color})]*/ ;
        --button-bg-color-dark: /*[(${theme.config.color.button_bg_color_dark})]*/ ;
        --button-hover-bg-color: /*[(${theme.config.color.button_hover_bg_color})]*/ ;
        --button-hover-bg-color-dark: /*[(${theme.config.color.button_hover_bg_color_dark})]*/ ;

        /**navbar*/
        --navbar-bg-color: /*[(${theme.config.color.navbar_bg_color})]*/ ;
        --navbar-bg-rgba-color: /*[(${theme.config.color.navbar_bg_rgba_color})]*/ ;
        --navbar-bg-color-dark: /*[(${theme.config.color.navbar_bg_color_dark})]*/ ;
        --navbar-bg-color-rgba-dark: /*[(${theme.config.color.navbar_bg_color_rgba_dark})]*/ ;
        --navbar-text-color: /*[(${theme.config.color.navbar_text_color})]*/ ;
        --navbar-text-color-dark: /*[(${theme.config.color.navbar_text_color_dark})]*/ ;
        --navbar-glass-px: /*[(${theme.config.navbar.ground_glass.px})]*/ ;
        --navbar-glass-alpha: /*[(${theme.config.navbar.ground_glass.alpha})]*/ ;

        /**banner*/
        --banner-width-height-ratio: /*[(${theme.config.global.banner.width_height_ratio})]*/ ;

        /**subtitle*/
        --subtitle-color: /*[(${theme.config.color.subtitle_color})]*/ ;
        --subtitle-color-dark: /*[(${theme.config.color.subtitle_color})]*/ ;

        /**board*/
        --board-bg-color: /*[(${theme.config.color.board_color})]*/ ;
        --board-bg-color-dark: /*[(${theme.config.color.board_color_dark})]*/ ;

        /**scrollbar*/
        --scrollbar-color: /*[(${theme.config.color.scrollbar_color})]*/ ;
        --scrollbar-color-dark: /*[(${theme.config.color.scrollbar_color_dark})]*/ ;
        --scrollbar-hover-color: /*[(${theme.config.color.board_color})]*/ ;
        --scrollbar-hover-color-dark: /*[(${theme.config.color.board_color_dark})]*/ ;


        /**评论*/
        --halo-comment-widget-base-font-family: var(--font-family);

        /* 搜索 */
        --halo-search-widget-base-font-family: var(--font-family);

    }
</style>