<th:block th:if="${theme.config.fun_features.progressbar.enable}">
    <script th:src="@{/assets/libs/nprogress/nprogress.min.js?v='0.2.0'}"></script>
    <link rel="stylesheet" th:href="@{/assets/libs/nprogress/nprogress.min.css?v='0.2.0'}">
    <script>
        NProgress.configure({ "showSpinner": [[${theme.config.fun_features.progressbar.showSpinner}]], "trickleSpeed": [[${theme.config.fun_features.progressbar.trickleSpeed}]] })
        NProgress.start()
        window.addEventListener('load', function () {
            NProgress.done();
        })
    </script>
</th:block>