<th:block th:if="${theme.config.fun_features.typing.enable}">
    <script th:src="@{/assets/libs/typed/typed.min.js?v='2.0.12'}"></script>
    <script>
        (function (window, document) {
            var typing = Fluid.plugins.typing;
            var subtitle = document.getElementById('subtitle');
            if (!subtitle || !typing) {
                return;
            }
            var text = subtitle.getAttribute('data-typed-text');
            typing(text);
        })(window, document);
    </script>
</th:block>