<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout(_head = null,_content = ~{::content},_title = '归档',page_js = null)}">
<th:block th:fragment="content"
  th:with="banner_img_height = ${#conversions.convert(theme.config.archive.banner_img_height, 'java.lang.Integer')}">
  <header th:with="banner_img= ${theme.config.archive.banner_img},
  banner_mask_alpha=${theme.config.archive.banner_mask_alpha},
  _title='归档'">
    <th:block th:replace="~{'modules/header'}" />
  </header>
  <main>
    <div class="container nopadding-x-md">
      <div id="board"
        th:style="${banner_img_height >= 100 && theme.config.global.banner.parallax ? 'margin-top: 0' : ''}">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 m-auto">
              <div class="list-group">
                <p class="h4" th:text="|共计 ${siteStatsFinder.getStats().post} 篇文章|"></p>
                <hr>
                <th:block th:each="archive : ${postFinder.archives(1, 0).items}">
                  <p class="h5" th:text="${archive.year}"></p>
                  <th:block th:each="month : ${archive.months}">
                    <th:block th:each="post : ${month.posts}">
                      <a th:href="${post.status.permalink}"
                        class="list-group-item list-group-item-action">
                        <time th:text="${#dates.format(post.spec.publishTime,'MM-dd')}"></time>
                        <div class="list-group-item-title" th:text="${post.spec.title}"></div>
                      </a>
                    </th:block>
                  </th:block>
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a id="scroll-top-button" aria-label="TOP" href="#" role="button" th:if="${theme.config.global.scroll_top_arrow}">
      <i class="iconfont icon-arrowup" aria-hidden="true"></i>
    </a>
  </main>
</th:block>

</html>