<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout(_head = null,_content = ~{::content},_title = '分类',page_js = null)}">
<th:block th:fragment="content"
  th:with="banner_img_height = ${#conversions.convert(theme.config.category.banner_img_height, 'java.lang.Integer')}">
  <header th:with="banner_img= ${theme.config.category.banner_img},
  banner_mask_alpha=${theme.config.category.banner_mask_alpha},
  _title='分类'">
    <th:block th:replace="~{'modules/header'}" />
  </header>
  <main>
    <div class="container nopadding-x-md">
      <div id="board"
        th:style="${banner_img_height >= 100 && theme.config.global.banner.parallax ? 'margin-top: 0' : ''}">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 m-auto">
              <th:block
                th:replace="~{macro/category-list :: category-list(${categories},${0})}">
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a id="scroll-top-button" aria-label="TOP" href="#" role="button" th:if="${theme.config.global.scroll_top_arrow}">
      <i class="iconfont icon-arrowup" aria-hidden="true"></i>
    </a>
  </main>
</th:block>

</html>